<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<h6>Jobs:</h6>
<ul>
  <% @jobs.each do |job| %>
    <li><%= job.title %></li>
    <li>Level of interest: <%= job.level_of_interest %></li>
    <li>Level of interest: <%= job.city %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
