<p id="notice"><%= notice %></p>

<div class="jumbotron">
<h1>
  <strong>Title:</strong>
  <%= @category.title %>
</h1>
</div>

<h6>Jobs:</h6>
<div class="row">
  <% @jobs.each do |job| %>
    <div class="card-group">
      <div class="card text-center text-white bg-dark m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= job.title %></h5>
          <p class="card-sub-title">Level of interest: <%= job.level_of_interest %></p>
          <p class="card-text">City: <%= job.city %></p>
          <%= link_to 'Back', categories_path, :class => "btn btn-secondary" %> |
          <%= link_to 'Edit', edit_category_path(@category), :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>