<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4"><%= @category.title %></h1>
  <%= link_to 'Back', categories_path, :class => "btn btn-secondary active" %>
  <%= link_to 'Edit', edit_category_path(@category), :class => "btn btn-warning active" %>
</div>

<h2 class="h2 text-center">Jobs</h2>
<div class="row">
  <% @jobs.each do |job| %>
    <div class="card-group">
      <div class="card border-primary m-3" style="width: 12rem;">
        <div class="card-body">
          <h5><%= link_to  job.title, job_path(job), :class => "card-title text-primary" %></h5>
          <p class="card-sub-title">Level of interest: <%= job.level_of_interest %></p>
          <p class="card-text">City: <%= job.city %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>